django>=1.8,<1.9
MySQL-python==1.2.5
argparse==1.2.1
boto==2.39.0
coverage==3.6b1
django-nose==1.4.1
dogstatsd-python==0.2
edx-django-release-util==0.3.0
gunicorn==0.16.1
newrelic==2.64.0.48
nose==1.2.1
nosexcover==1.0.7
path.py==2.4.1
-e git+https://github.com/pika/pika.git@a731347fc0#egg=pika
python-termstyle==0.1.10
rednose==0.3
requests==0.14.2
wsgiref==0.1.2
mock==2.0.0
django-storages-redux==1.3.1
