name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        tox-env: [quality, django32, django40]
        python-version: [3.8]
        db-version: ['mysql57', 'mysql80']

    steps:
    - uses: actions/checkout@v2

    - name: Start container
      run: |
        docker-compose -f .github/docker-compose-ci.yml up -d

    - name: Install test dependencies and run tests
      env:
        TOXENV: ${{ matrix.tox-env }}
        DB_HOST: ${{ matrix.db-version }}
      run: |
        docker exec xqueue bash -c "cd /edx/app/xqueue/xqueue/; pip3 install -r requirements/ci.txt"
        docker exec xqueue bash -c "cd /edx/app/xqueue/xqueue/ && tox -e ${TOXENV} --env ${DB_HOST}"

    - name: Code Coverage
      if: matrix.tox-env=='django32'
      run: |
        python3.8 -m pip install -r requirements/ci.txt &&
        docker exec xqueue bash -c "cd /edx/app/xqueue/xqueue/; coverage xml" && codecov
