name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.11"
        - "3.12"
        env-name: ['django42','django52', 'quality']
        db-version: ['mysql80']

    steps:
    - uses: actions/checkout@v4

    - name: Start container
      run: |
        docker compose -f .github/docker-compose-ci.yml up -d

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install test dependencies and run tests
      env:
        TOXENV: ${{ matrix.env-name }}
      run: |
        pip install -r requirements/ci.txt"
        tox -e ${TOXENV}"
