name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['py38', 'py312']
        env-name: ['django42', 'quality']
        db-version: ['mysql80']

    steps:
    - uses: actions/checkout@v2

    - name: Start container
      run: |
        docker-compose -f .github/docker-compose-ci.yml up -d

    - name: setup python
      if: ${{ matrix.python-version == 'py312' }}
      run: |
        docker exec -e TOXENV=${{ matrix.python-version }}-${{ matrix.env-name }} -e DB_HOST=${{ matrix.db-version }} xqueue bash -c \
        "apt update && apt install -y software-properties-common && add-apt-repository ppa:deadsnakes/ppa -y && apt install python3.12 python3.12-dev python3.12-distutils -y"

    - name: Install test dependencies and run tests
      env:
        TOXENV: ${{ matrix.python-version }}-${{ matrix.env-name }}
      run: |
        docker exec xqueue bash -c "cd /edx/app/xqueue/xqueue/; pip3 install -r requirements/ci.txt"
        docker exec xqueue bash -c "cd /edx/app/xqueue/xqueue/ && DB_HOST=${{ matrix.db-version }} tox -e ${TOXENV}"
