name: Migration check on MySql8

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  check_migrations:
    name: check migration for MySql8
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04 ]
        python-version: [ '3.8', '3.12' ]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system packages
      run: |
        sudo apt-get update
        sudo apt-get install -y libxmlsec1-dev
    - name: Get pip cache dir
      id: pip-cache-dir
      run: |
        echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
    - name: Cache pip dependencies
      id: cache-dependencies
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/pip_tools.txt') }}
        restore-keys: ${{ runner.os }}-pip-

    - name: Ubuntu and sql versions
      run: |
        lsb_release -a
        mysql -V
    - name: Install Python Dependencies
      run: |
        pip install -r requirements/pip-tools.txt
        pip install -r requirements.txt
        pip uninstall -y mysqlclient
        pip install --no-binary mysqlclient mysqlclient
        pip uninstall -y xmlsec
        # The latest version of python-xmlsec fails to compile (see https://github.com/xmlsec/python-xmlsec/issues/314)
        # The recommended course of action is to pin the version of python-xmlsec
        pip install --no-binary xmlsec xmlsec==1.3.13
    - name: Initiate services
      run: |
        sudo /etc/init.d/mysql start
    - name: Reset mysql password
      run: |
        cat <<EOF | mysql -h 127.0.0.1 -u root --password=root
          UPDATE mysql.user SET authentication_string = null WHERE user = 'root';
          FLUSH PRIVILEGES;
        EOF
    - name: Run migrations
      env:
        DB_ENGINE: "django.db.backends.mysql"
        DB_NAME: "xqueue"
        DB_USER: root
        DB_PASSWORD:
        DB_HOST: localhost
        DB_PORT: 3306
      run: |
        echo "CREATE DATABASE IF NOT EXISTS xqueue;" | sudo mysql -u root
        echo "Running the migrations"
        python manage.py migrate --settings=xqueue.test_settings
